# CocoaPods 
Pods/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Swift ###
# Xcode
#

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

.build/

### Xcode ###
## Gcc Patch
/*.gcno

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
